/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


  
body {
	/*background-color: #d5d5d5;*/
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

.container {
	max-width: 1020px;
	margin: 0 auto;
}
.header {
	background-color: #d5d5d5;
	padding: 26px 0 0 0;
}
.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 210px 28px 0;
	
}
.logotype {
	flex: 0 1 auto;
	
}
.logotype__img {
	width: 174px;
	height: 41px;
}
.logotype__img img{
	max-width: 100%;
}
.contact {
	display: flex;
	align-items: center;
	
}
.contact__text {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #000000;
}
.contact__hourse {
	flex: 1 0 auto;
	padding: 0 30px 0 0;
}
.contact__hourse:before {
	content: "";
	background: url("/random 2/random 2/img/access_time_24px.png") no-repeat;
	width: 24px;
	height: 24px;
	margin: 4px 10px 0 0;
}
.contact__callus {
	flex: 1 0 auto;
	padding: 0 32px 0 0;
}

.contact__callus:before {
	content: "";
	background: url("/random 2/random 2/img/phone_24px.png") no-repeat;
	width: 24px;
	height: 24px;
	margin: 4px 10px 0 0;
}
.contact__button {
	flex: 1 0 211px;
	padding-right: 7px;
}
.button {
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	margin: 0;
}
.button button:before {
	content: "";
	position: absolute;
	z-index: 3;
	top: 12.5px;
	right: -10px;
	width: 11px;
	height: 11px;
	background: url("/random 2/random 2/img/arrow_forward_24px.png") no-repeat;
}
.button button:after {
	content: "";
	position: absolute;
	z-index: 2;
	top: 0px;
	right: -20px;
	width: 40px;
	height: 40px;
	border-bottom: 40px solid #000;
	border-left: 16px solid transparent;
}
.button button{
	padding: 0 40px 0 20px;
	height: 40px;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	padding-right: 30px;
	color: #ffffff;
	background: #4B4B4B;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.header__menu {
	max-width: 100%;
	height: 60px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.header__nav {
	padding: 0 0 0 40px;
}
.header__link {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.15px;
	color: #000000;
	padding: 0 37px 0 0;
}
.header__bar {
	display: flex;
	padding: 0 48px 0 0;
}
.header__search {
	padding: 0 22px 0 0;
}
.header__basket.basket {
}

.page-first {
	background-color: #f5f5f5;
	padding-bottom: 10px;
	
}
.page-first__box {
	background-color: #d5d5d5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.page-first__title {
	font-style: normal;
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
	width: 70%;
	padding: 126px 0 48px 0;
}
.page-first__button {
	padding: 0 0 222px 0;
}

.page-second {
	background-color: #f5f5f5;
	padding-bottom: 50px;
	
}
.container_white {
	background-color: #fff;
	position: relative;
	top: -80px;
	left: 0;
	padding: 100px 87px 0 87px;
    margin-bottom: 110px;
	height: 700px;
}
.page-second__title {}
.content-title {}
.content-title__question {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	position: relative;
	color: #4B4B4B;
	padding-bottom: 33px;
	padding-left: 33px;
}
.content-title__question:before {
	content: "";
	background-image: url("/random 2/random 2/img/Overline Mark.png");
	background-size: 150% ;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -2px;
	left: -5px;
}
.content-title__answer {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	padding-bottom: 36px;
}
.page-second__content {}
.page-second__text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
	padding-bottom: 54px;
}
.page-second__img {
	min-width: 100%;	
}


.page-thrid {
	background-color: #f5f5f5;
	padding-bottom: 110px;
}
.page-thrid__title {}
.page-thrid__block {
	max-width: 100%;
	padding-bottom: 100px;
}
.quotes {
	display: flex;
	justify-content: space-between;
}
.quotes__block {
	flex: 1 1 33.33%;
	display: flex;
}
.quotes__img {
	width: 47px;
	height: 47px;
}
.quotes__img img {
	min-width: 100%;
}

.quotes__item {
	padding-left: 30px;
}
.quotes__title {
	font-style: normal;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	padding: 0 0 20px 0;
}
.quotes__text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}
.page-thrid__video {
	height: 500px;
	max-width: 100%;
	background: url("/random 2/random 2/img/BG\ Image.png");
}
.page-thrid__video-title {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	margin: 0 8% 0 55%;
	padding: 112px 0 43px 0;
}
.page-thrid__play {
	margin: 0 0 0 57%;
}
.page-thrid__play button{
	width: 73px;
	height: 73px;
	border-radius: 50%;
	background: #4B4B4B url("../img/play_arrow_24px.png") 55% 50% no-repeat;
	position: relative;
}
.page-thrid__play button:before {
	content: '';
	width: 97px;
	height: 97px;
	border-radius: 50%;
	background: #4B4B4B;
	opacity: 0.16;
	position: absolute;
	top: -12px;
	left: -12px;
}
.page-thrid__play button:after {
	content: '';
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #4B4B4B;
	opacity: 0.08;
	position: absolute;
	top: -23px;
	left: -23px;
}

.page-for {
	background-color: #f5f5f5;
}
.page-for__title {
	padding-bottom: 78px;
}
.page-for__sevices {
}
.services {
	display: flex;
	flex-wrap: wrap;
	margin: -12px;
	padding-bottom: 66px;
}
.sevices__item {
	flex: 1 1 33.33%;
	padding: 12px;
}
.sevices__block {
	background-color: #fff;
	text-align: center;
	padding: 50px 30px;
	
}
.sevices__img {
	max-width: 100%;
}
.sevices__title {
	font-style: normal;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	padding: 0 0 20px 0;
}
.sevices__text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}

.page-for__button {	
	width: 145px;
	margin: 0 auto;
	padding-bottom: 122px;
}
.page-five {
	background-color: #d5d5d5;
}
.page-five__column {
	display: flex;
	padding-top: 130px;
}
.page-five__item {
	flex: 1 1 50%;
}
.appointment {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.appointment__title {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
}
.appointment__form {
}
.appointment__wrap {

}
.appointment__wrap input{
	background-color: #d5d5d5;
}
.appointment__wrap textarea{
	background-color: #d5d5d5;
}
.page-five__content {
	padding-top: 160px;
	padding-bottom: 190px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.page-five__title {
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	text-align: center;
	padding-bottom: 46px;
}
.page-five__number {
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 56px;
	/*display: flex;
	align-items: center;*/
	text-align: center;
	padding-bottom: 46px;
}
.page-five__text {
	font-style: normal;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	text-align: center;
}

